@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    background-color: #1c2027;
    color: #ebebeb;
}

::-webkit-scrollbar{
    height: 8px;
    width: 10px;
}
  
::-webkit-scrollbar-thumb{
    background: #ffffff;
    transition: 0.5s all 0.5 ease;
    width: 2px;
    border-radius: 15px;
}
  
::-webkit-scrollbar-thumb:hover{
    background: #bdbdbd;
    transition: 0.5s all 0.5 ease;
}
  
::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: #000000;
}

.toggle-sidebar{
    visibility: hidden;
}

.header{
    background-color: #232933;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 15px;
    margin-top: 10px;
    position: fixed;
    box-shadow: 0px 0px 20px #000000;
    margin-top: -45px;
    z-index: 9999;
}

.profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100px;
    border: 2px solid #ebebeb;
}

.sidebar{
    background-color: #232933;
    height: 100%;
    width: 250px;
    box-shadow: 5px 16px 15px 0px #000000;
    position: fixed;
    margin-top: 12px;
    transform: translate(-300px, -5px);
    transition: transform 0.3s ease-in-out;
}

.profile{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.profile h3{
    margin: 10px 0;
}

.profile li{
    list-style: none;
    display: inline-flex;
}

.profile a{
    margin: 0 5px;
    padding: 10px;
    list-style: none;
    display: inline-flex;
    font-size: 20px;
    color: #ebebeb;
    transition: all 0.5s;
}

.profile a:hover{
    background-color: #ebebeb;
    color: #232933;
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px #ffffff;
    border: 1px #232933;
    border-radius: 10px;
}

.menu li a{
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: ease-out 0.3s;
}

.menu li a:hover{
    box-shadow: 0px 0px 10px #ffffff;
    color: #232933;
    background-color: #ebebeb;
    transition: all 0.3s;
}

.toggle-icon div{
    background: #ebebeb;
    width: 100%;
    height: 3px;
    transition: all 0.3s;
}

.toggle-icon{
    position: absolute;
    top: 22px;
    left: 15px;
    width: 22px;
    height: 22px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.2s;
}

.bar-top{
    border-radius: 10px;
}

.bar-center{
    margin: 5px 0;
    border-radius: 10px;
}

.bar-bottom{
    border-radius: 10px;
}

input[type="checkbox"]:checked ~ .sidebar{
    transform: translate(0, -5px);
    margin-top: 12px;
}

input[type="checkbox"]:checked ~ .toggle-icon > .bar-top{
    transform: rotate(135deg);
}

input[type="checkbox"]:checked ~ .toggle-icon > .bar-center{
    opacity: 0;
}

input[type="checkbox"]:checked ~ .toggle-icon > .bar-bottom{
    transform: rotate(-135deg);
    margin-top: -16px;
}

.backimage {
    display: flex;
    margin-top: 40px;
    background-image: url(back-main.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    box-shadow: 0px 0px 10px #232933;
}

.img-text{
    font-size: 50px;
    font-weight: 900;
}

.img-text2{
    font-size: 25px;
    font-weight: 600;
}

.go-back{
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 3rem;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 35px;
    transition: all ease 0.3s;
}

.go-back:hover{
    background-color: #ffffff;
    color: #000000;
    transition: all ease 0.3s;
}

.oddelovak{
    opacity: 0;
    border: 135px solid #000000;
}

.oddelovak-mini{
    opacity: 0;
    border: 2px solid #000000;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    left: 49%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 3px solid rgb(255, 255, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}
  
@keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
}

.line {
	width: 100%;
    height: 100%;
	border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 25px #000000;
}

.nadpis {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    height: 70vh;
    padding: 10px;
}

.card{
    flex-direction: column;
    position: relative;
    width: 18rem;
    height: 24rem;
    background: #262a34;
    border-radius: 30px;
    margin: 2rem;
    padding-bottom: 1rem;
    opacity: 1;
    z-index: 990;
    box-shadow: 0px 0px 15px #00000030;
    transition: all ease 0.3s;
}

.card:hover{
    transition: all ease 0.3s;
    box-shadow: 0px 0px 15px #00000092;
    transform: scale(1.1);
    border-radius: 35px;
}

.card:hover > .card__header > .card-image{
    backdrop-filter: blur(0px);
    box-shadow: 0px 0px 20px #00000032;
    padding: 0px 0px;
    bottom: 3rem;
}

.card:hover > .card__header{
    background-size: 26rem;
    transition: all ease 0.3s;
}

.card:hover > .card__body > .card-name{
    transition: all ease 0.3s;
}

.card:hover > .card__body > .card-text{
    transition: all ease 0.3s;
}

.card:hover > .card__body > .card-btn{
    transition: all ease 0.3s;
}

.card__header{
    height: 14rem;
    background-size: 25rem;
    display: flex;
    background-color: #000000;
    justify-content: center;
    position: relative;
    z-index: 997;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    transition: all ease 0.3s;
}

.card-image{
    position: absolute;
    width: 8em;
    height: 8rem;
    border: 0px solid #000000;
    box-shadow: 0px 0px 20px #00000018;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 999;
    bottom: 3rem;
    transition: all ease 0.3s;
}

.card__body{
    padding: -1rem 1.5rem 0rem 1.5rem;
    text-align: center;
}

.card-name{
    padding-top: 0rem;
    padding-bottom: 1rem;
    transition: all ease 0.3s;
}

.card-text{
    padding-bottom: 3rem;
    transition: all ease 0.3s;
}

.card-btn{
    border: none;
    padding: 1rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ebebeb;
    background: #1c2027;
    border: 1px solid #232933;
    border-radius: 50px;
    transition: all ease 0.3s;
    text-decoration: none;
    z-index: 999;
}

.card-btn:hover {
    cursor: pointer;
    padding: 1.1rem 3.2rem;
    font-size: 1.08rem;
    box-shadow: 0px 0px 5px #0000009d;
    transition: all ease 0.3s; 
}

.footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.footer-text{
    text-align: center;
    color: #bdbdbd;
    font-weight: 600;
    text-decoration: none;
}

.cc{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    color: #bdbdbd;
    text-align: center;
    text-decoration: none;
}

.cc-link{
    font-size: 1.5rem;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
}

.back {
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #262a34;
    margin: 2rem;
    background-color: #262a34;
    padding: 1rem 2rem 1rem;
}

@media screen and (max-width: 900px){
    .container{
        height: 150vh;
    }
}

@media (max-width: 1065px){
    .container{
        height: 90vh;
    }
}

@media (max-width: 705px){
    .container{
        height: 160vh;
    }
}