*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Encode Sans Expanded", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

::-webkit-scrollbar{
  height: 8px;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #ffffff;
  transition: 0.5s all 0.5 ease;
  width: 2px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
  background: #bdbdbd;
  transition: 0.5s all 0.5 ease;
}

::-webkit-scrollbar-track{
  border-radius: 15px;
  background: #000000;
}

.scroll-down {
  height: 50px;
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 3px solid rgb(255, 255, 255);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.hmain{
  color: #ffffff;
  font-size: 45px;
  text-align: center;
}

nav{
	position: relative;
	margin: 10px auto 0;
	width: 420px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
  text-transform: uppercase;
	height: 5px;
	bottom: 0;
	z-index: 0;
	color: #E1E1E1;
	background: #000000;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0px;
}
nav a:nth-child(2):hover~.animation{
  background: #ffffff;
	width: 100px;
	left: 0px;
}
nav a:nth-child(2){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
  background: #ffffff;
	width: 100px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(4):hover~.animation{
  background: #ffffff;
	width: 100px;	
	left: 200px;
}
nav a:nth-child(4){
	width: 150px;
}
nav a:nth-child(5):hover~.animation{
  background: #ffffff;
	width: 100px;
	left: 300px;
}